<!DOCTYPE html>
<html>
	<head>
	<meta charset="UTF-8">
	<title>商品詳細</title>
	<meta name="viewport" content="width=device-width">

	<link href='http://fonts.googleapis.com/css?family=Paytone+One' rel='stylesheet' type='text/css'>

	<link href="http://netdna.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.css" rel="stylesheet">

	<link rel="stylesheet" href="style.css">
	</head>
<body>
	<!-- ブラウザ全体 -->
	
	<!-- ヘッダー・ナビゲーション部分 -->
	<div class="box1">
		<div class="site">
		<h1><a href="#">サービス名</a></h1>
		</div>
	</div>

	<div class="box2">
	<div class="box2-inner">
		<nav class="menu">
		<ul>
		<li><a href="#">出品一覧</a></li>
		<li><a href="#">出品登録</a></li>
		</ul>
		</nav>
	</div>
	</div>

	
	<!-- 本体部分 -->
	
		<!-- 商品情報部分 -->
			<table style="margin:30px auto; ">
				<tr>
					<h3 style="text-align:center">商品詳細</h3>
				</tr>
				<tr>
					<td>
						<div style=" width: 200px; height: 200px; padding: 10px; margin-bottom: 10px; border:3px solid black; background:cornsilk">
							画像
						</div>
					</td>
					<td>〇〇〇〇〇〇〇〇〇〇（商品名）</td>
				</tr>
				<tr>
					<td style="text-align:right">価格</td>
					<td style="text-align:left">￥〇〇〇〇</td>
				</tr>
			</table>
			
			<table style="margin:auto">
				<tr><td>備考</td></tr>
				<tr>
					<td>
						・商品に関する情報
						・商品に関する情報<br>
						・商品に関する情報
						・商品に関する情報<br>
					</td>
				</tr>
				<tr><td>&nbsp;</td></tr>
				<tr><td>カテゴリ:洋服</td></tr>
				<tr><td>個数：〇〇</td></tr>
				<tr><td>出品地域：〇〇県</td></tr>
				
			</table>
			
		<hr style="color:silver; height:2px;">
		
		<!-- チャット部分 -->
		<table class="boxA">
			<tr>
				<td align="left">出品者へのコメント</td>
			</tr>
			<tr>
				<td></td>
				<td>【出品者ユーザー名】</td>
				<td></td>
				</tr>
				<tr>
					<td></td>
					<td>
						<div style="padding: 10px; margin-bottom: 10px; border:2px solid black;">
							取引に関するメッセージ
						</div>
					</td>
					<td></td>
				</tr>
				<tr>
					<td></td>
					<td></td>
					<td><div style="text-align:left;">【購入者ユーザー名】</div></td>
				</tr>
				<tr>
					<td></td>
					<td></td>
					<td>
						<div style="padding: 10px; margin-bottom: 10px; border:2px solid black;">
							取引に関するメッセージ
						</div>
					</td>
				</tr>
				<tr><td>&nbsp;</td></tr>
			</table>
			<table style="margin:auto">
				<tr>
					<td></td>
					<td>
						<div style="padding: 10px; margin-bottom: 10px; border:2px solid silver;">
							取引に関するメッセージを入力
						</div>
					</td>
					<td>
						<p class="more">メッセージを送信</p>
					</td>
				</tr>
			</table>
		
		<hr style="color:silver; height:2px;">
		
		<!--  入金状況変更ボタン -->
		<table style="margin:auto">
			<tr>
				<td>
					<p class="more">購入</p>
				</td>
			</tr>
		</table>
		

</body>
</html>