<!DOCTYPE html>
<html>
	<head>
	<meta charset="UTF-8">
	<title>出品登録完了</title>
	<meta name="viewport" content="width=device-width">

	<link href='http://fonts.googleapis.com/css?family=Paytone+One' rel='stylesheet' type='text/css'>

	<link href="http://netdna.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.css" rel="stylesheet">

	<link rel="stylesheet" href="style.css">
	</head>
<body>
	<!-- ブラウザ全体 -->
	
	<!-- ヘッダー・ナビゲーション部分 -->
	<div class="box1">
		<div class="site">
		<h1><a href="#">Flea Market</a></h1>
		</div>
	</div>

	<div class="box2">
	<div class="box2-inner">
		<nav class="menu">
		<ul>
			<li><a href="#">出品一覧</a></li>
			<li><a href="#">出品登録</a></li>
			<li><a href="#">メニュー</a></li>
		</ul>
		</nav>
	</div>
	</div>

	
	<!-- 本体部分 -->
	
		<!-- 商品情報部分 -->
			<table style="margin:30px auto; ">
				<tr>
					<h3 style="text-align:center">出品登録完了</h3>
				</tr>
				<tr>
					<td>
						<div style=" width: 200px; height: 200px; padding: 10px; margin-bottom: 10px; border:3px solid black; background:cornsilk">
							画像
						</div>
					</td>
					<td>〇〇〇〇〇〇〇〇〇〇（商品名）</td>
				</tr>
				<tr>
					<td style="text-align:right">価格</td>
					<td style="text-align:left">￥〇〇〇〇</td>
				</tr>
			</table>
			
		<hr style="color:silver; height:2px;">
		
		<!--  完了登録表示 -->
		<table style="margin:50px auto;">
			<tr>
				<h2 style="text-align:center">上記商品の出品登録が完了しました。</h2>
			</tr>
		</table>
		

</body>
</html>