<!DOCTYPE html>
<html>
	<head>
	<meta charset="UTF-8">
	<title>取引情報</title>
	<meta name="viewport" content="width=device-width">

	<link href='http://fonts.googleapis.com/css?family=Paytone+One' rel='stylesheet' type='text/css'>

	<link href="http://netdna.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.css" rel="stylesheet">

	<link rel="stylesheet" href="style.css">
	</head>
<body>
	<!-- ブラウザ全体 -->
	
	<!-- ヘッダー・ナビゲーション部分 -->
	<div class="box1">
		<div class="site">
		<h1><a href="#">サービス名</a></h1>
		</div>
	</div>

	<div class="box2">
	<div class="box2-inner">
		<nav class="menu">
		<ul>
		<li><a href="#">出品一覧</a></li>
		<li><a href="#">ユーザー一覧</a></li>
		<li><a href="#">売り上げ状況</a></li>
		</ul>
		</nav>
	</div>
	</div>

	
	<!-- 本体部分 -->
	<table border="1" style="border-collapse:collapse; border-color:black; margin:auto; margin-top:50px; padding:20px;">
		<tr>
			<td style="background-color: aquamarine; width:140px; height:50px;">ユーザーID</td>
			<td style="width:300px; height:50px;">0001</td>
		</tr>
		<tr>
			<td style="background-color: aquamarine; width:140px; height:50px;">ニックネーム</td>
			<td style="width:300px; height:50px;">ウサギ</td>
		</tr>
		<tr>
			<td style="background-color: aquamarine; width:140px; height:50px;">本名</td>
			<td style="width:300px; height:50px;">山田花子</td>
		</tr>
		<tr>
			<td style="background-color: aquamarine;width:140px; height:50px;">住所</td>
			<td style="width:300px; height:50px;">東京都千代田区外神田21-33</td>
		</tr>
		<tr>
			<td style="background-color: aquamarine;width:140px; height:50px;">メールアドレス</td>
			<td style="width:300px; height:50px;">freeMarketService@mail.co.jp</td>
		</tr>
		<tr>
			<td style="background-color: aquamarine;width:140px; height:50px;">ステータス</td>
			<td style="width:300px; height:50px;">出品者</td>
		</tr>
	</table>
</body>